body{
    background-color: cadetblue;
}
header{
    background-color: darkslategrey;
    margin: 1px;
}
.w1{
    width: 100%;
}
.cont1, .cont2{
    float: right;
}
main{
    background-color: darkslategrey; margin: 1px;
}
.cell1{
    text-align: center;
}
.cell2{
    text-align: center; color: darkorange
}
.cell3{
    padding: 20px; text-align: justify; color: lightseagreen; width: 50%; vertical-align:top;
}
.cell4{
    padding: 20px; text-align: justify; color: lightseagreen; width: 50%; vertical-align:top;
}
footer{
    background-color: darkslategrey; height: 130px; margin: 1px
}