.body{
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}
header {
    background-image: url("../images/header.png");
    border-radius: 10px;
    box-shadow: 0 0 20px #999;
}
.headergrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.i1 {
    border-radius: 10px;
    box-shadow: 0 0 20px #999;
}
.flex {
    display: flex;
    flex-direction: column-reverse;
}
.flex1 {
    display: flex;
    flex-direction: row-reverse;
}
.cont1, .cont2 {
    transition: transform 0.2s;
}
.cont1:hover, .cont2:hover {
    transform: scale(1.5);
}
main {
    opacity: 0.9 ;
    margin: 1px;
}
.cell1 {
    text-align: center;
}
.cell2 {
    text-align: center; color: midnightblue;
}
.cell3 {
    padding: 20px; text-align: justify; color: indigo; width: 50%; vertical-align:top;
}
.cell4 {
    padding: 20px; text-align: justify; color: indigo; width: 50%; vertical-align:top;
}
/*СОСТОЯНИЯ ВЕЩЕСТВА*/
section {
    display: flex;
    justify-content: space-between;
    min-height: 400px;
    align-items: stretch;
    justify-items: stretch
}
.flex2 {
    margin: 20px;
    width: 426px;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.a1 {
    border-radius: 10px;
    box-shadow: 0 0 20px #999;
}
/*АТОМНОЕ СТРОЕНИЕ ВЕЩЕСТВА*/
.ci {
    grid-area: ci;
}
.c {
    grid-area: c;
}
.li {
    grid-area: li;
}
.l {
    grid-area: l;
}
.gi {
    grid-area: gi;
}
.g {
    grid-area: g;
}
.cpi {
    grid-area: pi;
}
.p {
    grid-area: p;
}
.grid2 {
    /*padding: 20px;*/
    /*margin: 20px;*/
    /*align-items: center;*/
    text-align: center;
    min-width: 426px;
    width: inherit;
    min-height: 50%;
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    grid-template-areas:
    'ci li'
    'c l'
    'gi pi'
    'g p';
}
.a2, .c, .l, .g, .p {
    font-weight:bold;
}
/*
.footer {
    background-color: darkslategrey; height: auto; margin: 1px;
    opacity: 0.5 ;
}*/
