.q1{
    margin: 0px;
    float: left;
    width: calc(100%/2)
}
.q2{
    margin: 0px;
    float: left;
    width: calc(100%/2);
}
.q3{
    margin: 0px;
    float: left;
    align: botoom;
}
.q4{
    float: right;
}
.q5{
    float: right;
}
.q1-1{
    margin: 0px;
    float: right;
    width: calc(100%/2)
}
.q2-1{
    margin: 0px;
    float: right;
    width: calc(100%/2);
}
.q3-1{
    margin: 0px;
    float: right;
    align: botoom;
}
.q4-1{
    float: left;
}
.q5-1{
    float: left;
}
.q6-1{
    float: right;
}
.с1{
    background-color: lightcoral;
    }
.с2{
    background-color: yellow;
}
.с3{
    background-color: lightskyblue;
}
td{
     width: 125px;
     height: 75px;
}
.с0{
    background-color: white;
}
.c1, .c2, .c3{
    cursor: pointer;
}
a:hover{
    color: white;
}
a:visited{
    color: gray;
}
a{
    color: inherit;
}

